@import "../ema_bootstrap";

.carousel {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

.carousel-item {
    background-color: #000;
}

.carousel-item > img {
    margin-top: 0px;
    width: 100%;
    max-width: 640px;
    max-height: 400px;
}

@include media-breakpoint-up(lg) {
    .carousel {
        margin-top: 0;
    }
}

