@import "../ema_bootstrap";

.header {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%), url(../images/bg.webp);
}

.header-content {
    background-color: #000;
    border: 2px solid $primary;
}

@include media-breakpoint-down(sm) {
    .header-description {
        font-size: 15px !important;
        text-align: center;
        margin-bottom: 1.5rem !important;
    }
}

@include media-breakpoint-up(md) {
    .header-description {
        font-size: 16px;
    }
}
