@import "../ema_bootstrap";

.photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 1rem;
}

@include media-breakpoint-up(lg) {
    .photo {
        margin-top: 0;
    }
}

@include media-breakpoint-down(sm) {
    .photo {
        height: 300px;
    }
}

@include media-breakpoint-down(xs) {
    .photo {
        height: 250px;
    }
}