@import "../ema_bootstrap";

.section-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-family: 'Black Ops One', monospace;
    color: $primary;
}

@include media-breakpoint-up(lg) {
    .section-heading {
        font-size: 50px;
    }
}

.section-right {
    background-color: $primary-light;
}
